/* font-family: 'Open Sans', sans-serif; */
* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #181818;
  transition: all 0.4s ease;
}
/* color */
/* primary-color:  */


.mt-32{
    margin-top: 24px;
}

.s-mt{
  margin-top: 160px;
}
.btn-primary {
  background: #fd6e0a;
  padding: 18px 30px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  border: 0px;

  font-weight: 700;
}
.btn-primary:hover {
  background: none;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}
.btn-secondary {
  background: none;
  color: #fd6e0a;
  padding: 18px 30px;
  font-size: 20px;
  border: 1px solid #fd6e0a;

  font-weight: 700;
}
.btn-secondary:hover {
  background: #fd6e0a;
  color: #fff;
  border-radius: 5px;
  border: 0px;
}

.text-primary {
  color: #fd6e0a;
}

.container {
  margin: 50px 220px;
}

/* Header */

nav {
  display: flex;
  justify-content: space-between;
}

nav .logo {
  font-size: 45px;
  
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li {
  margin-left: 50px;
}

nav ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}
nav ul li a:hover {
  color: #fd6e0a;
}

/* Hero Part */

.hero-part{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-part .sub-heading{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.hero-part .heading{
    font-size: 85px;
    font-weight: 700;
}
.hero-part .pera{
    color: #757575;
    font-size: 18px;
  
}

